html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
